page-assignment {
    .bg{
        background: url("../assets/imgs/Bg2.png") no-repeat center center fixed; 
        background-repeat: no-repeat;
        background-size: cover;
      }
    .tajuk{
        padding-top: 3vh;
    }
    .button-full {
        background-color: #00d9e0;
        width: 100%;
        margin: auto;
    }
    .bg-transparent {
        background: transparent;
      }
}
