<ion-header>
  <ion-navbar color="theme" [hidden]="!buttonClicked2">
    <button ion-button menuToggle>
      <ion-icon name="menu" color="light"></ion-icon>
    </button>
    <ion-title>MY COURSES</ion-title>
    <ion-buttons end class="pad">
      <button ion-button icon-only color="royal" (click)="onButtonClick()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
   <!-- Search Event -->
   <div *ngIf="buttonClicked">
    <ion-row text-center center>
      <ion-col col-1 class="ran" center >
          <ion-icon style="zoom:1.6" color="secondary"  name="arrow-round-back" (click)="onButtonClick()" text-center></ion-icon>
      </ion-col>
      <ion-col col-10><ion-input [(ngModel)]="terms" placeholder="Search..."></ion-input></ion-col>
    </ion-row>
</div>
<!-- Done Search Event -->
</ion-header>

<ion-content class="bg">
  <ion-list class="tajuk" padding>
    <ion-row>
     <ion-col col-9><h2>Lecturer Name</h2></ion-col>
     <ion-col col-3><img item-right class="imej" src="assets/imgs/paper2.png"></ion-col>
    </ion-row>
    <hr>
   </ion-list>

  <ion-card *ngFor="let list of lists | search : terms">
      <ion-list>
            <ion-item (click)="viewEntry({ record: list })">
                <img item-start class="imej" src="assets/imgs/pp.png">
                <ion-row>
                  <ion-col>
                    <h2>{{list.title}}</h2>
                  </ion-col>
                  <ion-col text-right>
                      <button class="small">{{list.id}}</button>
                  </ion-col>
                </ion-row>
                <i><h3>{{list.description}}</h3></i>
            </ion-item>
        </ion-list>
      </ion-card>
  </ion-content>